@media (max-width:1000px){


    .inside{
        display: none;
    }
    .header .respon{
        display: none;
    }
   .header .ham{
        display: block;
    }
    .shop{
        justify-content: end;
        align-items: end;
    }
    /* .boxer #image{
        display: inline;
    } */

    #image .polard{
        flex-wrap: wrap;
    }
}
