@media (max-width:1000px){
     nav{
        position: absolute;
     }
     
    
    .inside{
        display: none;
    }
    .header .respon{
        display: none;
    }
    .ham{
        display: block;
    }
    .shop{
        justify-content: end;
        align-items: end;
    }
    /* .boxer #image{
        display: inline;
    } */

    #image .polard{
        flex-wrap: wrap;
    }

}
